# Ignore all files in this directory
examples-rust/Cargo.*
examples-rust/Cargo.*
examples-rust/target # Ignore all files in this directory
examples-rust/target/* # Ignore all files in this directory
examples-rust/target/*/* # Ignore all files in this directory
examples-rust/target/*/*/* # Ignore all files in this directory
target # Ignore all files in this directory
target/* # Ignore all files in this directory
target/*/* # Ignore all files in this directory
target/*/*/* # Ignore all files in this directory

# Ignore binary files of Rust examples
examples-rust/**/*.wasm
examples-rust/**/*.wasm.map